
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* seared style */
.display-flex{
  display: flex;}
  .bg-color{
  background-color: #111111;
    width: 100vw;
  }
  .text-light-grey{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400px;
    font-size: 1rem;
  }

  .left-margin{
    margin-left: 195px;
  }
  .font-size-1{
    font-weight: 400px;
    font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.5);
   }
   .font-size-2{
    font-weight: 900px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
   }
   .font-size-3{
    font-weight: 600px;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    
   }
  

/* header style */
header{
  margin: 0 auto;
  max-width: 1400px;
}
.primary-btn{
  background-color:#E6533C;
  border-radius: 46px;
}


/* navbar related style */

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px 120px 0px 120px ;
}
.brand{
  color: #E6533C;
  font-weight: 800px;
  font-size: 2.1rem;
  font-style: italic;
}
.nav-links{
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 30px;
  margin-top: 45px;
}
.nav-link{
 list-style: none;
 margin-left: 45px;
}
.nav-link-text{
  text-decoration: none;
color: white;
padding: 15px 20px;
}

/* stay healthy style */
.stay-healthy-container{
  display: flex;
  gap: 16rem;
}
.stay-healthy-text{
  display: grid;
  gap: 28px;
}
.stay-healthy-heading{
  font-weight: 900px;
  font-size: 5.5rem;
  color: white;
  margin: 0 auto;
}
.stay-healthy-btn1{
  background: rgba(230, 83, 60, 1);
  max-width: 224px;
  height: 55px;
  border-radius: 43px;
  color: white;
}
.stay-healthy-btn-container{
  display: flex;
  gap: 1.2rem;
}
.stay-healthy-btn2{
  max-width: 224px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 42px;
  background-color: black ;
  color: white;

}

/* stay health image style */
.stay-healthy-img>img{
  width: 100%;
}
.number{
  font-weight: 900px;
  font-size: 1.5rem;
  color: white;
}
.stay-health-badge1-container{
margin-top: -140px;
}
.stay-health-badge1{
  background-color: rgba(48, 48, 48, 0.54);
  
}
.stay-health-badge2-container{
  margin-top: -30rem;
  margin-left:10.6rem;
}
.stay-health-badge2{
  background-color: rgba(255, 255, 255, 0.1);
}


/* habits styles */
.habit-container{
text-align: center;
margin: 0;
}
/* habits-card-styles */
.habits-card-container{
  display: flex;
  gap: 40px;
  margin-top: 58px;
  
}
.card-container{
  display: flex;
}
.habit-card-img{

  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}
.habit-card-title .habit-card-text{
  text-align: center;
}

/* run styles */
.run-main-container{
  display: flex;
  max-width: 1460px;
  border-radius: 14px;
  background: rgba(34, 34, 34, 1);
  margin: 100px 190px;
}
.run-container{
  margin: 41px 169px 41px 54px;
  
}
.run-title{
  margin: 0 auto;
}
.run-button{
  background: rgba(230, 83, 60, 1);
  border-radius: 43px;
  color: white;
  padding: 16px 70px;
}
.run-img-container{
 
  margin: 70px 30px 30px 0px;
  
}
.run-img{
  width: 100%;
  border-radius: 18px;
}

/* main styles */

/* BMI Calculator Styles */
.bmi-calculator{
  text-align: center;

}
.bmi-box-contain{
  display: flex;
  background: rgba(34, 34, 34, 1);
  gap: 175px;
}
/* table-styles */
table{
  border-collapse: collapse;
}
th,td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
}
th{
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  ;
}
td{
  font-weight: 400px;
  font-size: 0.9rem;
  color:rgba(255, 255, 255, 0.5);
  
}
/* form-style */
.calculator-bmi{
  margin-right: 189px;
}
.bmi-table-title{
  text-align: center;
}
table{
  max-width:310px ;
  height:116px ;
  margin:0px 90px 0px 70px;

}
input{
  max-width: 282px;
  height:48px ;
  background: rgba(255, 255, 255, 0.1);
  gap: 12px;
  margin-bottom: 12px;
  border-radius: 8px;

}
.third-input{
  max-width: 577px;
}
.Calculate-btn{
  background: rgba(230, 83, 60, 1);
  border-radius: 43px;
  color: white;
  padding: 16px 70px;
}



/* footer style */
footer{
  max-width: 1440px;
  background: rgba(255, 255, 255, 0.1);

}
.fitness{
  display: flex;
  margin-top: 88px;

}
.fitness-container{
  margin: 66px 190px 80px 190px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.fitness-title{
  font-weight:800px ;
  font-size: 4.4rem;
  color:rgba(230, 83, 60, 1);
  font-style: italic;
  margin: 0;

}
.Get-Started h3{
  font-weight: 700px;
  font-size: 2rem;
  color: white;
  margin: 0;
} 
.Get-Started>ul li{
font-weight: 400px;
font-size: 1.2rem;
text-decoration: none;
color:rgba(255, 255, 255, 0.5);
;
}
.Get-Started ul{
  list-style: none;
}
.horizontal-line{
  /* position: relative; */
  max-width: 900px;
  border: 2px solid rgba(255, 255, 255, 0.1)
  
}
.right-deta{
  text-align: center;

} 
 
/* smart phone responsive */
 @media screen and (max-width:576px){
  .stay-healthy-container{
    display: grid;
  }
  .stay-health-badge2-container{
    margin-top: -70px;
  
  }
  .left-margin{
    margin:0px;
  }
  .main-habit-container{
    display: grid;
    justify-content: center;
    margin-right:0px;
  }
  .card-container {
    flex-direction: column;
  }
  .main-habit-container .habit-card{
    margin-left: 90px;
  }
  .run-main-container{
    margin: 0px;
    display: grid;
  }
  .run-main-container{
    margin: 0px;
    display: grid;
  }
  .bmi-box-contain{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .calculator-bmi{
    margin: 0px;
  }
  .fitness-container{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .right-deta{
    text-align: start;
  }
  .horizontal-line{
    text-align: start;
  }
} 

